$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

/* ==========================================================================
Global
========================================================================== */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.zoom:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
}

/* ==========================================================================
Home
========================================================================== */
.home {
    /* General */
    .m-md-3 {
        margin: 0!important;
    }
    .headline {
        margin-top: 150px !important;
        background: antiquewhite;
        -vendor-animation-duration: 2s;
        animation-duration: 2s;
    }
    .btn-outline-secondary:hover {
        background: #4b3181;
    }
    
    @media(min-width: $breakpoint-sm){
        #head {
            position: fixed !important;
            z-index: 0;
            width: 100vw
        }
        .body {
            top: 100vh;
            background: rgba(0, 0, 0, 0.85);
            position: relative;
        }
        .homeFooter footer {
            position: relative;
            z-index: 3;
        }
    }  

    /* Intro Section */
    .page-section {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .section-heading {
        text-transform: uppercase;
    }
    .section-heading .section-heading-upper {
        display: block;
        font-size: 1rem;
        font-weight: 800;
    }
    .section-heading .section-heading-lower {
        display: block;
        font-size: 2.5rem;
        font-weight: 100;
    }
    @media(min-width: $breakpoint-sm){
        .section-heading .section-heading-lower {
            font-size: 3rem;
        }
    }
    .intro {
        position: relative;
    }
    .intro .intro-img {
        width: 75%;
        float: right;
    }
    .intro .intro-text {
        left: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
    }
    .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
    }

    /* Promise Section */
    .cta {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .cta .cta-inner {
        position: relative;
        padding: 3rem;
        margin: 0.5rem;
        background-color: rgba(255, 255, 255, 0.85);
    }
    .cta .cta-inner:before {
        border-radius: 0.5rem;
        content: '';
        position: absolute;
        top: -0.5rem;
        bottom: -0.5rem;
        left: -0.5rem;
        right: -0.5rem;
        border: 0.25rem solid rgba(255, 255, 255, 0.85);
    }

    /* Applications Section */
    img.inherit {
        height: inherit;
    }
    .pulse {
        -vendor-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }

    /* Portfolio Section */
    .portfolio-item {
        display: block;
        position: relative;
        overflow: hidden;
        max-width: 530px;
        margin: auto auto 1rem;
    }
    .portfolio-item .caption {
        display: flex;
        height: 100%;
        width: 100%;
        background-color: rgba(33, 37, 41, 0.2);
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
    .portfolio-item .caption .caption-content {
        color: transparent;
        margin: auto 2rem 2rem;
    }
    .view-more .caption{
        background-color: rgba(29, 128, 159, 0.9) !important;
         .caption-content {
            color: #fff;
        }
    }
    .portfolio-item .caption .caption-content h2 {
        font-size: 1.2rem;
    }
    .portfolio-item .caption .caption-content p {
        font-weight: 300;
        font-size: 1rem;
    }
    @media (min-width: $breakpoint-md) {
        .portfolio-item .caption .caption-content h2 {
            font-size: 1.5rem;
        }
        .portfolio-item .caption .caption-content p {
            font-weight: 300;
            font-size: 1.2rem;
        }
    }
    .portfolio-item .caption .caption-content {
        transition: opacity 0.25s;
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }

    @media (min-width: $breakpoint-sm) {
        .portfolio-item {
            max-width: none;
            margin: 0;
        }
        .portfolio-item .caption {
            -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
            -webkit-clip-path: inset(0px);
            clip-path: inset(0px);
        }
        .portfolio-item img {
            -webkit-transition: -webkit-clip-path 0.25s ease-out;
            -webkit-clip-path: inset(-1px);
            clip-path: inset(-1px);
        }
        .portfolio-item:hover img {
            -webkit-clip-path: inset(2rem);
            clip-path: inset(2rem);
        }
        .portfolio-item:hover .caption {
            background-color: rgba(29, 128, 159, 0.9);
            -webkit-clip-path: inset(2rem);
            clip-path: inset(2rem);
            border-radius: 10px;
            .caption-content {
                color: #fff;
            }
        }
    }

    /* Founders Section */
    .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }
    h2 {
        font-weight: 400;
    }
    .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }
    body {
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: #5a5a5a;
    }
    .fa {
        font-size:25px;
        width: 45px;
        margin: 3px;
    }
    img.rounded-circle.img-fluid {
        max-height: 250px;
    }

}

/* ==========================================================================
Team
========================================================================== */
.team {
    .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }
    h2 {
        font-weight: 400;
    }
    .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }
    body {
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: #5a5a5a;
    }
    .fa {
        font-size:25px;
        width: 45px;
        margin: 3px;
    }
    img.rounded-circle.img-fluid {
        max-height: 250px;
    }
    .card {
        border:0 !important;
    }
}

/* ==========================================================================
Portfolio
========================================================================== */
.portfolio {
    .card-img-top {
        height: 325px !important;
    }

    .row {
        justify-content: center;
    }
    a {
        color: #17a2b8;
    }
    a:hover {
        text-decoration: none;
    }
}


/* ==========================================================================
About
========================================================================== */

.about {
    .rubberBand {
        -vendor-animation-duration: 2s;
        animation-duration: 2s;
    }
    /* Cards */
    .card-img-right {
        height: 100%;
        border-radius: 0 3px 3px 0;
    }
    @media(max-height:$breakpoint-md){
        .cards img {
            max-height: 175px;
        }
    }
    .flex-auto {
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }
    .card2 {
        -vendor-animation-delay: .2s;
        animation-delay: .2s;
    }
    .card3 {
        -vendor-animation-delay: .4s;
        animation-delay: .4s;
    }
    .card4 {
        -vendor-animation-delay: .6s;
        animation-delay: .6s;
    }


    /* Blog */
    @media(max-width:$breakpoint-sm){
        .services{
            margin-left:-30px;
            margin-right:-30px;
        }
    }


    /* Timeline */
    .timeline {
        position: relative;
        padding: 0;
        list-style: none;
    }

    .timeline:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 40px;
        width: 2px;
        margin-left: -1.5px;
        content: '';
        background-color: #e9ecef;
    }

    .timeline > li {
        position: relative;
        min-height: 50px;
        margin-bottom: 50px;
    }

    .timeline > li:after, .timeline > li:before {
        display: table;
        content: ' ';
    }

    .timeline > li:after {
        clear: both;
    }

    .timeline > li .timeline-panel {
        position: relative;
        float: right;
        width: 100%;
        padding: 0 20px 0 100px;
        text-align: left;
    }

    .timeline > li .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    .timeline > li .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }

    .timeline > li .timeline-image {
        position: absolute;
        z-index: 100;
        left: 0;
        width: 80px;
        height: 80px;
        margin-left: 0;
        text-align: center;
        color: white;
        border: 7px solid #e9ecef;
        border-radius: 100%;
        background-color: #fed136;
    }

    .timeline > li .timeline-image h4 {
        font-size: 10px;
        line-height: 14px;
        margin-top: 12px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 20px 0 100px;
        text-align: left;
    }

    .timeline > li.timeline-inverted > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    .timeline > li.timeline-inverted > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }

    .timeline > li:last-child {
        margin-bottom: 0;
    }

    .timeline .timeline-heading h4 {
        margin-top: 0;
        color: inherit;
    }

    .timeline .timeline-heading h4.subheading {
        text-transform: none;
    }

    .timeline .timeline-body > ul,
    .timeline .timeline-body > p {
        margin-bottom: 0;
    }

    @media (min-width: $breakpoint-sm) {
        .timeline:before {
            left: 50%;
        }
        .timeline > li {
            min-height: 100px;
            margin-bottom: 100px;
        }
        .timeline > li .timeline-panel {
            float: left;
            width: 41%;
            padding: 0 20px 20px 30px;
            text-align: right;
        }
        .timeline > li .timeline-image {
            left: 50%;
            width: 100px;
            height: 100px;
            margin-left: -50px;
        }
        .timeline > li .timeline-image h4 {
            font-size: 13px;
            line-height: 18px;
            margin-top: 16px;
        }
        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
            padding: 0 30px 20px 20px;
            text-align: left;
        }
    }

    @media (min-width: $breakpoint-md) {
        .timeline > li {
            min-height: 150px;
        }
        .timeline > li .timeline-panel {
            padding: 0 20px 20px;
        }
        .timeline > li .timeline-image {
            width: 150px;
            height: 150px;
            margin-left: -75px;
        }
        .timeline > li .timeline-image h4 {
            font-size: 18px;
            line-height: 26px;
            margin-top: 30px;
        }
        .timeline > li.timeline-inverted > .timeline-panel {
            padding: 0 20px 20px;
        }
    }

    @media (min-width: $breakpoint-lg) {
        .timeline > li {
            min-height: 170px;
        }
        .timeline > li .timeline-panel {
            padding: 0 20px 20px 100px;
        }
        .timeline > li .timeline-image {
            width: 170px;
            height: 170px;
            margin-left: -85px;
        }
        .timeline > li .timeline-image h4 {
            margin-top: 40px;
        }
        .timeline > li.timeline-inverted > .timeline-panel {
            padding: 0 100px 20px 20px;
        }
    }
}

/* ==========================================================================
Privacy, Terms & 404
========================================================================== */
.privacyHeader, .termsHeader, .notFoundHeader {
    padding-top:85px !important;
}
