/* ==========================================================================
Global
========================================================================== */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ==========================================================================
Home
========================================================================== */
.home {
    .m-md-3 {
    margin: 0!important;
    }
    .headline {
        margin-top: 150px !important;
        background: antiquewhite;
    }
}

/* ==========================================================================
Team
========================================================================== */
.team {
    .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }
    h2 {
        font-weight: 400;
    }
    .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }
    body {
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: #5a5a5a;
    }
    .fa {
        font-size:25px;
        width: 45px;
        margin: 3px;
    }
    img.rounded-circle.img-fluid {
        max-height: 250px;
    }
    .card {
        background-color: #4b3181;
    }
}

/* ==========================================================================
Portfolio
========================================================================== */
.portfolio {
    .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

    .card-img-top {
        height: 325px !important;
    }

    .row {
        justify-content: center;
    }
    a:hover {
        text-decoration: none;
    }
}


/* ==========================================================================
About
========================================================================== */

.about {
    .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
    }

    .flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    }

    .h-250 { height: 250px; }
    @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
    }

    .border-top { border-top: 1px solid #e5e5e5; }
    .border-bottom { border-bottom: 1px solid #e5e5e5; }

    .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

    /*
    * Blog name and description
    */
    .blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
    }
    .blog-description {
    font-size: 1.1rem;
    color: #999;
    }

    @media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
    }

    /*
    * Blog posts
    */
    .blog-post {
    margin-bottom: 4rem;
    }
    .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
    }
    .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
    }
}

/* ==========================================================================
Privacy, Terms & 404
========================================================================== */
.privacyHeader, .termsHeader, .notFoundHeader {
    padding-top:85px !important;
}
