.team {
    .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }
    h2 {
        font-weight: 400;
    }
    .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }
    body {
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: #5a5a5a;
    }
    .jumbotron {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    }
}